{
  "id": __APP_ID_JSON__,
  "name": {
    "en": __APP_NAME_JSON__,
    "zh": __APP_NAME_JSON__
  },
  "description": {
    "en": __APP_DESCRIPTION_JSON__,
    "zh": __APP_DESCRIPTION_JSON__
  },
  "version": "1.0.0",
  "entry": "index.html",
  "permissions": ["storage.get", "storage.set"],
  "optionalPermissions": [],
  "network": []
}
